node_modules
.next
dist
.git
.github
.husky
.cursor
.vercel
coverage
*.md
!README.md
docs
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env
.env.*
!.env.example
!.env.local.example
!.env.production.example
Dockerfile*
docker-compose*
.dockerignore
