IMAGE_TAG=latest

APP_PUBLIC_URL=https://devevent.adityatripathi.dev

NODE_ENV=production
JWT_SECRET=your_jwt_secret_here
DATABASE_URL=

MINIO_ENDPOINT=
MINIO_PUBLIC_URL=https://devevent.adityatripathi.dev/api/storage
MINIO_BUCKET_NAME=dev-event-bucket
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

CORS_ORIGINS=https://devevent.adityatripathi.dev

ENABLE_TRACING=true
OTEL_SERVICE_NAME=devevent-api
OTEL_EXPORTER_OTLP_ENDPOINT=https://otel-collector.adityatripathi.dev
