services:
  mongo:
    image: mongo:latest
    container_name: dev-event-mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - dev-event-network

  minio:
    image: minio/minio:latest
    container_name: dev-event-minio
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
    networks:
      - dev-event-network

networks:
  dev-event-network:
    driver: bridge

volumes:
  mongo-data:
  minio-data:
