NODE_ENV=development
PORT=3000
JWT_SECRET=your_jwt_secret_here
DATABASE_URL=mongodb://localhost:27017/dev-event
STORAGE_ENDPOINT=http://localhost:8888
STORAGE_PUBLIC_URL=http://127.0.0.1:49153/api/storage
STORAGE_BUCKET_NAME=dev-event-bucket
CORS_ORIGINS=http://localhost:3001,http://127.0.0.1:3001,http://localhost:49153,http://127.0.0.1:49153
